<footer class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_run_count = 0;
        var disqus = {
            load: function disqus() {
                (function () {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + window.disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
                disqus_run_count++;
            }
        };
        $(window).load(function () {
            var target = document.getElementsByClassName('post-content')[0].scrollHeight;
            var current = 0;

            // 若页面达不到能滚动的高度，则直接加载。（页面高度小于窗口高度）
            if (target < $(window).height()) {
                disqus.load();
            } else {

                $(window).scroll(function () {
                    current = $(window).scrollTop();

                    //因为当前到达的高度取得是窗口顶端，所以加上 $(window).height()
                    if (current > target - $(window).height()) {

                        //未加载过评论框才能触发加载
                        if (disqus_run_count == 0) {
                            disqus.load();
                        }
                    }
                })
            }
        })
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</footer>
