<footer class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_run_count = 0;
        var disqus = {
            load: function disqus() {
                (function () {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + window.disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
                disqus_run_count++;
            }
        };
        (function (){
            var content = document.querySelector('.post-content');
            var extra_height = (content.getBoundingClientRect().top + window.scrollY + content.clientHeight) / 4;
            var footer_top = document.querySelector('.post-footer').getBoundingClientRect().top + window.scrollY;
            var load_pos = footer_top - extra_height;
            document.addEventListener('scroll', function _func() {
                if (load_pos - window.scrollY <= window.screen.availHeight) {
                    disqus.load();
                    document.removeEventListener('scroll', _func);
                }
            });
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</footer>
