<footer>
    <span class="copyright">
        &copy; {{date format="YYYY"}} {{@blog.title}}. All Rights Reserved. | Built with <a href="https://ghost.org/" target="_blank">Ghost</a> and <a href="https://github.com/kelyvin/caffeine-theme" target="_blank">Caffeine Theme</a>.
    </span>
</footer>
