<header id="default-nav-header" class="nav-header nav-header-fixed">
    <a id="home-button" href="/#open">
        {{#if @blog.logo}}
            <i><img src="{{@blog.logo}}" alt="{{@blog.title}} avatar" class="avatar rounded hvr-buzz-out" /></i>
        {{else}}
            <i class="fa fa-home"></i>
        {{/if}}
      </a>
    <a class="tags-button right">
        <i class="fa fa-search"></i>
    </a>
</header>