<header id="default-nav-header" class="nav-header nav-header-fixed animated">
    <a id="home-button" href="{{@blog.url}}">
        {{#if @blog.logo}}
            <img src="{{@blog.logo}}" alt="{{@blog.title}} avatar" class="avatar rounded hvr-buzz-out" />
        {{else}}
            <i class="fa fa-home"></i>
        {{/if}}
      </a>
    <a class="tags-button right">
        <i class="fa fa-search hvr-grow"></i>
    </a>
</header>