{{#if feature_image}}
<div class="material-cover animated fade-in" style="background-image: url({{img_url feature_image}})">
{{else}}
<div class="material-cover" style="background-image: url({{@blog.cover_image}})">
{{/if}}
    <div class="background-container"></div>
</div>
