{{#if image}}
<div class="material-cover animated fade-in" style="background-image: url({{image}})">
{{else}}
<div class="material-cover" style="background-image: url({{@blog.cover}})">
{{/if}}
    <div class="background-container"></div>
</div>