{{!------------------------------
Until Ghost supports a tag cloud, we have to manually list all popular or available tags.
See https://github.com/TryGhost/Ghost/wiki/Tags-101#theming
--------------------------------}}

<div id="popular-tags" class="tags-container">
    <h2>Popular Tags</h2>
    <div class="tags">
    </div>
</div>