<div class="post-related pagination">
    {{#prev_post}}
        <a rel="prev" id="prev-btn" class="btn hvr-grow" href="{{url}}">
            <i class="fa fa-arrow-left"></i>
            <span>{{title}}</span>
        </a>
    {{/prev_post}}

    {{#next_post}}
        <a rel="next" id="next-btn" class="btn hvr-grow" href="{{url}}">
            <span>{{title}}</span>
            <i class="fa fa-arrow-right"></i>
        </a>
    {{/next_post}}
    <div class="clear"></div>
</div>