<section id="search-container" class="search-container">
    <form id="search-form" class="search-form">
        <input id="search-field" class="search-field" type="text", name="search", placeholder="git, code, javascript,..." />
    </form>
    <hr class="divider short" />
</section>
<section id="search-results" class="search-results"></section>