{{!------------------------------
To add a new social icon simply add an icon listed within the Font Awesome toolkit.
Add the class in the <i> tag to match the desired social network
and then add your link to the <a>.
--------------------------------}}
<ul class="social expanded">

    <!-- Twitter -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="http://twitter.com/jlelse" title="@jlelse on Twitter">
            <i class='fa fa-twitter'></i>
            <span class="label">Twitter</span>
        </a>
    </li>

    <!-- Medium -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="http://medium.com/@jlelse" title="@jlelse on Medium">
            <i class='fa fa-medium'></i>
            <span class="label">Medium</span>
        </a>
    </li>

    <!-- Github -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://github.com/jlelse" title="jlelse on Github">
            <i class='fa fa-github'></i>
            <span class="label">Github</span>
        </a>
    </li>

    <!-- Instagram -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://instagram.com/jl.else" title="jl.else on Instagram">
            <i class='fa fa-instagram'></i>
            <span class="label">Instagram</span>
        </a>
    </li>

    <!-- RSS -->
    <li class="social item hvr-grow-rotate">
        <a href="/rss/" title="Subscribe to RSS">
            <i class='fa fa-rss'></i>
            <span class="label">RSS</span>
        </a>
    </li>
</ul>
