{{!------------------------------
To add a new social icon simply add an icon listed within the Font Awesome toolkit.
Add the class in the <i> tag to match the desired social network
and then add your link to the <a>.
--------------------------------}}
<ul class="social expanded">

    <!-- Facebook -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://www.facebook.com/caffeinecoding" title="Caffeine Coding on Facebook">
            <i class='fa fa-facebook-official'></i>
            <span class="label">Facebook</span>
        </a>
    </li>

    <!-- Twitter -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="http://twitter.com/kelyvinN" title="@KelyvinN on Twitter">
            <i class='fa fa-twitter'></i>
            <span class="label">Twitter</span>
        </a>
    </li>

    <!-- Linkedin -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="http://linkedin.com/in/kelyvin" title="Kelyvin on LinkedIn">
            <i class='fa fa-linkedin-square'></i>
            <span class="label">Linkedin</span>
        </a>
    </li>

    <!-- Github -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://github.com/kelyvin" title="Kelyvin on Github">
            <i class='fa fa-github'></i>
            <span class="label">Github</span>
        </a>
    </li>

    <!-- RSS -->
    <li class="social item hvr-grow-rotate">
        <a href="/rss/" title="Subscribe to RSS">
            <i class='fa fa-rss'></i>
            <span class="label">RSS</span>
        </a>
    </li>
</ul>
