{{!< default}}
{{> material-cover}}
<div class="page page-tag container-wrapper">
    <div class="tag-header container-wrapper">
        <div class="tags">
            <a href="/tag/{{tag.name}}/">{{tag.name}}</a>
        </div>
    </div>
    <ol class="posts">
        {{#foreach posts}}
            {{> post-list-item}}
        {{/foreach}}
    </ol>
    {{pagination}}
</div>