.cover {
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 0;
    display: block;
    text-align: center;
    overflow: hidden;
    background: center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: $slate-gray;

    &.expanded {
        opacity: 1;
        z-index: 15;

        .blog-header {
            display: none;
        }
    }

    .background-container {
        height: 100%;
        width: 100%;
        font-weight: $font-weight-thin;
        text-align: center;
        color: $gray-lightest;
        @include font-shadow;
        @include center-absolute;
        @include background-filter;
    }
}

.blog-header {
    z-index: 3;
    position: absolute;
    width: 100%;
    text-align: center;

    h1 {
        color: $slate-white;
        margin: 100px 0 10px;
        font-size: $unit * 2.75;
        @include font-shadow;

        &:hover {
            color: $pre-hover-color;
        }
    }
}

.profile {
    max-width: 620px;
    p {
        margin: 0 32px;
        font-size: 14px;
    }
    a {
        h1 {
            margin: 0;
            font-family: $sans-font;
            font-size: $unit * 2;
            color: $slate-white;
            margin: 8px 0;
        }
        h3 {
            margin: 8px 0 24px;
            color: $slate-white;
            font-size: 18px;
        }
        img {
            width: 112px;
            border: 2px solid $primary-color;
            @include shadow(2);
        }
    }
}

.call-to-action-container {
    margin: 12px 0;

    .navigation {
        .links {
            li {
                display: inline-block;
                margin: 5px;
                border-radius: 20px;
                background: $primary-color;
                color: $slate-white;
                @include btn-cover-with-border;

                a {
                    padding: 10px 20px;
                    font-size: 14px;
                    @include btn-cover;

                    &:hover {
                        color: $primary-color;
                    }
                }

                &:hover {
                    background: $hover-color-inverse;
                }

                &:first-child {
                     @include btn-cover-with-border;
                }
            }
        }
    }
}

.navigation {
    .links {
        margin: 0;
        list-style: none;

        li {
            display: inline-block;
            line-height: 16px;
            border-left: 1px solid $slate-white;

            &:first-child {
                border: none;
            }

            &.hide {
                display: none;
            }

            a {
                display: block;
                float: none;
                padding: 8px 20px 8px 22px;
                font-size: 18px;
                color: $slate-white;

                @include font-shadow;

                &:hover {
                    color: $pre-hover-color ;
                }
            }
        }
    }
}
