.cover {
    position: fixed;
    display: block;
    width: $aside-width-collapsed;
    height: 100%;
    overflow-y: auto;
    z-index: 2;

    &.animated {
        transition: all $aside-animation-time $aside-animation;
    }
    &.expanded {
        width: 100%;
        z-index: 15;
    }
    &.container {
        font-weight: $font-weight-thin;
        text-align: center;
        color: $gray-lightest;
        @include font-shadow;
        @include center-absolute;
        @include background-filter;
    }
}

#profile-resume {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 24px;
}

.profile {
    max-width: 620px;
    > p {
        margin: 0 32px;
        font-size: 14px;
    }
    > a {
        > h1 {
            margin: 0;
            font-family: $sans-font;
            font-size: $unit * 2;
            color: $slate-white;
            margin: 8px 0;
        }
        > h3 {
            margin: 0;
            color: $slate-white;
        }
        > img {
            width: 112px;
            border: 2px solid $primary-color;
            box-shadow: 0 0 1px 1px rgba(000, 000, 000, .3);
        }
    }
}

.navigation {
    &.left {
        display: inline-block;
        margin-top: 18px;
        margin-bottom: 16px;
        .links {
            margin: 0;
            list-style: none;
            > li {
                display: block;
                margin: 0 1px 0 0;
                line-height: 16px;

                &.expanded {
                    display: inline-block;
                    margin: 0 5px;
                    border-radius: 20px;
                    background: $primary-color;
                    color: $slate-white;

                    @include btn-cover-with-border;

                    > a {
                        padding: 10px 20px;
                    }

                    &:hover {
                        background: $hover-color-inverse;
                    }
                }

                > a {
                    display: block;
                    float: none;
                    padding: 8px 20px;
                    @include btn-cover;
                    @include font-shadow;

                    &:hover {
                        color: $hover-color;
                        text-shadow: none;
                    }
                }
            }
        }
    }
    &.right {
        display: block;
        margin: 8px;
        .social {
            margin: 0;
            &.item {
                display: inline-block;
                margin: 0 4px 0 0;
                line-height: 16px;
                a {
                    padding: 6px 8px 6px 9px;
                    @include btn-cover;
                    .label {
                        display: none;
                    }
                    i {
                        display: block;
                        font-size: 24px;
                    }
                    &:hover {
                        color: $hover-color;
                    }
                }
            }
        }
    }
}
