// ------------------------------
// MEDIA QUERIES
// ------------------------------
@media only screen and (min-width:1824px) {
    main {
        padding: 40px 176px;
    }
    .content {
        margin: 0 112px;
    }
}

// ------------------------------
// < 1024px (Tablet)
// ------------------------------
@media all and (max-width:1024px) {
    /* disabling element, too much information*/
    .pace,
    .post.reading-time,
    .post.related {
        display: none;
    }
    /* Enable element special for little devices */
    #profile-resume {
        display: inherit;
    }
    /* off canvas */
    .nav-header {
        position: fixed;
        top: 8px;
        left: 216px;
        transition: all $aside-animation-time;

        &.expanded {
            left: 0;
            display: block;
        }
    }

    #main-header {
        display: none;
    }

    .cover {
        width: 256px;
        transform: translate3d(-256px, 0, 0);
        border-right: none;
        box-shadow: none;
        &.expanded {
            transform: translate3d(0, 0, 0);
            box-shadow: 11px -10px 1px -9px $gray-light;

            .nav-header {
                left: 0;
                display: block;

                > a {
                    > i {
                        color: $white;
                        font-size: 26px;
                    }
                }
            }
        }
        &.animated {
            transition: all $aside-animation-time;
        }
    }
    .profile {
        width: 100%;
        height: 100%;
        max-width: 100%;
        &.contact {
            > nav {
                padding: 0;
            }
        }
        > a {
            > img {
                width: 128px;
                margin-bottom: 16px;
            }
        }
        > p {
            margin: 0 160px;
        }
    }
    .navigation.left .links {
        > li {
            margin: 0;
            > a {
                padding: 14px 20px;
                font-size: 16px;
            }
        }
    }
    #avatar-link {
        display: inline-block;
        margin-top: 64px;
    }
    .navigation {
        width: 100%;
        &.right {
            margin: 0;
        }
        &.left {
            .links.item {
                width: 100%;
            }
        }
    }
    main {
        left: 0;
        transition: all $aside-animation-time;
        transform: translate3d(0, 0, 0);
        &.expanded {
            transform: translate3d(224px, 0, 0);
        }
    }
}

// ------------------------------
// < 600px ( 7" Tablet)
// ------------------------------
@media all and (max-width:600px) {
    .profile {
        > p {
            margin: 0 80px;
        }
    }

    .post {
        > p {
            > input {
                width: auto;
            }
        }
    }

    .error-body {
        margin: 30px auto;
        padding: 0 12px;

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 18px;
        }
    }
}

// ------------------------------
// < 480px (Mobile)
// ------------------------------
@media all and (max-width:480px) {
    .btn {
        display: block;
        margin-bottom: 6px;
    }
    main {
        padding: 16px 0;
    }
    #post-title {
        margin: 40px 0;
    }
    .post .tags,
    .post .meta > time,
    .pagination > span {
        display: none;
    }
    .post {
        &.newer,
        &.older {
            padding: 16px;
        }
        &.newer {
            margin: 0 0 20px;
        }
        &.older {
            margin: 0 0 10px;
        }
    }
    .profile {
        > p {
            margin: 0 16px;
        }
    }
    blockquote {
        > p {
            margin: 32px -16px;
        }
    }
}
