body {
    &.page-browser-compatibility,
    &.page-error {
        width: 100%;
        height: 100%;
        font-size: 16px;
        font-weight: normal;
        line-height: 25px;
        text-align: center;
    }

    &.page-error {
        background: url("/assets/img/backgrounds/404_error_background.jpg") center/cover no-repeat;
        > article {
            @include center-absolute;
        }
    }

    &.page-browser-compatibility {
        @include background-filter;
        background-image: url("/assets/img/backgrounds/browser-compatibility.jpg");
        background-position: center; 
        background-repeat: no-repeat;  
        background-size: cover;  

        .error-body {
            text-align: left;
            margin: 100px 20px 20px;
            padding: 20px;
            background-color: #bbb;
            background-color: rgba(0,0,0,.2);
        }
    }
}

.error-body {
    max-width: 550px;
    margin: 150px auto 20px;

    h1 {
        font-size: 40px;
        color: $gray-lightest;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    }

    h2 {
        font-size: 24px;
        line-height: 35px;
        color: $gray-lightest;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    }
}
