.posts {
    padding: 0;
    margin: 0 20px;
    list-style-type: none;
    text-align: left;
    visibility: hidden;

    > li {
        > a {
            > h2 {
                margin-bottom: 16px;
                line-height: 48px;
                @extend .animated;

                &:hover {
                    color: $hover-color;
                }

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    .description {
        margin-bottom: 16px;
        font-size: 14px;
        color: $gray-dark;
    }

    .divider {
        width: 30%;
        margin: 26px 0;
        border-top: 1px solid $gray-light;
    }

    .material-cover {
        height: 200px;
        margin-bottom: 0;
        position: relative;

        &.no-cover {
            display: none;
        }
    }
}

.post {
    .post-card {
        max-width: $container-medium-width;
        background: white;
        margin: 0 auto;
        @include transition(all 250ms);
        @include shadow(2);
    }

    .post-container {
        padding: 20px 60px;
    }
}


.posts,
.post-header {
    .meta {
        margin: 20px 0 0;
        font-size: 12px;
        color: $gray;
    }
}

.post-header {
    text-align: center;

    .share {
        margin-bottom: 40px;
    }
}

.post-content {
    p {
        img {
            max-width: 100%;
            margin: 24px auto;
            text-align: center;
            border-radius: $border-radius;
            display: block;
        }
    }

    pre {
        width: 95%;
    }

    a {
        transition: all .5s;
        text-decoration: underline;

        &::after {
            position: absolute;
            bottom: -.5px;
            left: 0;
            width: 100%;
            height: 0;
            content: "";
        }

        &:hover,
        &:visited {
            color: $gray-dark;
        }
    }

    .author {
        img {
            display: inline-block;
            height: 22px;
            margin: 0 8px;
            vertical-align: middle;
            border: none;
            box-shadow: none;
        }
    }
}

#post-image {
    max-width: 100%;
    margin-top: 16px;
}

#post-title {
    margin: 30px 0 10px;

    i {
        vertical-align: top;
        font-size: 26px;
    }
}
