#search-container {
    margin-top: 24px;
}

#search-form {
    padding: 4px 0;

    i {
        position: absolute;
        left: 260px;
        color: $primary-color;
        text-shadow: none;
        font-size: 20px;
        margin-top: 12px;
    }
}

#search-field {
    width: 200px;
    height: 16px;
    padding: 4% 5px 4% 18px;
    transition: border .3s ease-in;
    border-radius: 26px;
    &:focus,
    &:hover {
        border: 1px solid lighten($hover-color, 5%);
    }
}

#search-results {
    text-align: center;
    &.active {
        margin-top: 48px;
        margin-bottom: 144px;
    }
    > p {
        margin-bottom: 48px;
        font-size: 18px;
    }
}

.result {
    display: block;
    padding: 16px;
    margin-bottom: 20px;
    text-decoration: none;
    word-wrap: break-word;
    border: 1px solid $primary-color;
    border-radius: 5px;
    > h2,
    > h4 {
        color: $gray-darker;
    }
    &:hover {
        transition: .5s;
        > h2,
        > h4 {
            transition: .5s;
            color: $hover-color;
        }
    }
}
