img,
.btn {
    &.square {
        border-radius: 0;
    }
    &.rounded {
        border-radius: 50%;
    }
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    letter-spacing: 1px;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 20px;
    text-shadow: none;
    &:hover {
        color: darken($primary-color, 15%);
        border-color: darken($primary-color, 15%);
    }
    &.small {
        padding: 8px 12px;
        font-size: 10px;
    }
    &.large {
        padding: 10px 24px;
        font-size: 16px;
    }
    &.secondary {
        color: $secondary-color;
        border-color: $secondary-color;
        &:hover {
            color: darken($secondary-color, 15%);
            border-color: darken($secondary-color, 15%);
        }
    }
}

.nav-header {
    width: 100%;
    z-index: 10;

    &.mobile {
        display: none;

        > a {
            left: 12px;

            &.right {
                left: auto;
                right: 12px;
                margin: 0;
            }
        }
    }

    > a {
        z-index: 10;

        &.right {
            float: right;
            margin: 15px;
        }

        > i {
            position: relative;
            top: 3px;
            font-size: 34px;

            transition: all $aside-animation-time;
            color: $pre-hover-color;

            &:hover {
                color: $hover-color;
                cursor: pointer;
            }

            &.fa-close {
                color: $slate-white;
            }

            img {
                max-width: 36px;
                border: 1px solid $primary-color;
                box-shadow: 0 0 1px 1px rgba(000, 000, 000, .2);
            }
        }
    }
}

.card {
    cursor: pointer;
    background: white;
    margin-bottom: 20px;

    .card-content {
        padding: 10px 30px 20px;
    }

    .card-footer {
        padding: 12px 30px;
        border-top: 1px solid $gray-light;

        .meta {
            float: left;
            margin: 0;
        }

        .share {
            float: right;
        }
    }

    @include transition(all 250ms);
    @include shadow(2);

    &:hover {
        @include shadow(3);
        @include transform(translateY(-5px));
    }
}

ul {
    &.share-buttons {
        margin: 0;
        list-style: none;
        padding: 0;

        li {
            margin: 0;
            display: inline-block;

            a {
                color: rgba($primary-color, .7);
                &:hover {
                    color: rgba($primary-color, 1);
                }
            }

            i {
                font-size: 24px;
            }
        }
    }
}
