img,
.btn {
    &.square {
        border-radius: 0;
    }
    &.rounded {
        border-radius: 50%;
    }
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    letter-spacing: 1px;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 20px;
    text-shadow: none;
    &:hover {
        color: darken($primary-color, 15%);
        border-color: darken($primary-color, 15%);
    }
    &.small {
        padding: 8px 12px;
        font-size: 10px;
    }
    &.large {
        padding: 10px 24px;
        font-size: 16px;
    }
    &.secondary {
        color: $secondary-color;
        border-color: $secondary-color;
        &:hover {
            color: darken($secondary-color, 15%);
            border-color: darken($secondary-color, 15%);
        }
    }
}

.nav-header {
    display: none;
    width: 100%;

    > a {
        left: 12px;

        &.right {
            float: right;
            left: auto;
            right: 12px;
        }

        > i {
            position: relative;
            top: 3px;
            font-size: 34px;
            color: $gray-lightest;

            &:hover {
                cursor: pointer;
            }

            img {
                max-width: 36px;
                border: 1px solid $primary-color;
                box-shadow: 0 0 1px 1px rgba(000, 000, 000, .2);
            }
        }
    }
}
