@mixin inline-code-style {
    padding: 2px 4px;
    font-family: $code-font;
    font-size: 14px;
    font-weight: $font-weight-normal;
    color: $gray-dark;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
}

@mixin background-filter {
    background: linear-gradient(150deg, $cover-secondary 30%, $cover-primary 70%) 0 0/cover fixed;
    box-shadow: inset 0 0 100px rgba(0,0,0,.4);
    background-color: rgba(0,0,0,.5);

}

@mixin center-absolute {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin font-shadow {
    text-shadow: 2px 2px 10px $midnight-blue, 2px 2px 10px $midnight-blue;
}

@mixin btn-cover {
    position: relative;
    display: block;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    color: $white;
    border-radius: 20px;
    text-shadow: none;
    font-weight: $font-weight-bold;
    &:hover {
        opacity: 1;
    }
}

@mixin btn-cover-with-border {
    border: 1px solid $white;

    &:hover {
        border: 1px solid $primary-color;
    }
    @extend btn-cover;
}

@mixin placeholder {
    ::-webkit-input-placeholder {
        @content
    }
    :-moz-placeholder {
        @content
    }
    ::-moz-placeholder {
        @content
    }
    :-ms-input-placeholder {
        @content
    }
}
